body{
    background-color: #efefef;
}

header {
	width: 100%;
	height: auto;
    margin-bottom: 2rem;
}

.container {
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(230, 230, 230, 0.3);
    padding: 10px 20px;
}

.header {   
    background-color: #fffdfc;
    width: 100%;
    height: 70px;
    padding: 0px;
}

.navbar {
    width: 80%;
    height: 100%;
    padding: 0.3rem 1rem;
    margin: 0px auto;
}

.logo {
    width: auto;
    height: 100%;
    /*padding: 5px 10px 5px 10px;*/
    float: left;
    text-align: center;
}

.info {
    width: auto;
    height: auto;
    float: right;
    margin-right: 20px;
}

.nav {
    width: auto;
    height: 100%;
}

.nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: .75rem 1rem;
    transition: all .4s ease;
}

.nav a:hover {
	color: #019fb6;
}

.nav li {
    margin-top: 0.2rem; 
    list-style: none;
    display: inline;
    font-family: Verdana;
    text-transform: uppercase; 
}

.nav ul {
    display: inline-flex;
    margin: auto;
    height: 100%;
}

/*.nav li:hover, .nav .active {
    border-bottom: tomato solid 3px;
}*/

.nav li:after {
  display: block;
  content: '';
  padding-bottom: 0.7rem;
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.nav li:hover:after, .nav .active:after { transform: scaleX(1); }

.info a, .info p { 
    display: block;
    text-decoration: none;
    color: #353535;
}

.info .fas {
    padding-right: 0.3rem;
    color: #007f91; 
}

.info a:hover {
    color: #007f91;
}

.info .fa-mobile {
    padding-left: 0.2rem;
    padding-right: 0.5rem;
}

.d-block {
	width: 100%;
	height: 420px;
    object-fit: cover;
}


/* catalog.html */

.item-info {
    width: 95%;
    height: 100%;
    margin: auto;
}

.item-img {
    width: 120px;
    height: 120px;
    float: left;
}

.item-about {
    float: left;
    margin: 0rem 0rem 0rem 1.2rem;
}

.item-name { margin-bottom: 0.2rem }

.item-num {
    float: right;
    margin-right: 10rem; 
}

.item-price {
    float: right;
}

.items-slider {
    background: none;
}

.owl-theme {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem; 
}

.item {

}

.item h4 { text-align: center; padding: 35% 0; color: #efffff; }

.owl-prev, .owl-next {
    width: 20px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border: 0px solid black;
}

.owl-prev:hover, .owl-next:hover {
    border: 0px solid grey;
}

.owl-prev { left: -3rem; /*-20px*/ }
.owl-next { right: -3rem; }
.owl-prev i, .owl-next i { font-size: 2.2rem; color: #cecece; }

.itemsview figure {
    width: 200px;
    height: 200px;
    padding: 1rem;
    border-radius: 2px;
    background: #007f91 no-repeat center;
    box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.1) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
    transition: 0.2s;
}

.itemsview figure h5 {
    transition: 0.2s;
    transform: translateY(20px);

}.itemsview figure p {
    transition: 0.2s;
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
}

.itemsview figure:before {
    content: '';
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border-top: solid 2px;
    border-bottom: solid 2px;
    transition: 0.2s;
    transform: scaleX(0);
}

.itemsview figure:after {
    content: '';
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border-right: solid 2px;
    border-left: solid 2px;
    transition: 0.2s;
    transform: scaleY(0);
}

.itemsview figure:hover { box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.4) inset; }

.itemsview figure:hover:before,
.itemsview figure:hover:after 
{
    transform: scale(1);
    cursor: pointer;
}

.itemsview figure:hover h5,
.itemsview figure:hover p {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}